<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
</head>
<body>
<table border="1">
  <tbody>
    <tr style="color: rgb(255, 0, 0);" align="center">
      <td style="background-color: rgb(192, 192, 192);"
 colspan="2" rowspan="1">
      <h2><span style="font-weight: bold;">Th&ocirc;ng
tin ?ng vi&ecirc;n</span></h2>
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold;" valign="top">Ng&agrave;y
th?c hi?n :&nbsp;</td>
      <td valign="top">%NgayThucHien%</td>
    </tr>
    <tr>
      <td style="font-weight: bold;" valign="top">H?
t&ecirc;n :&nbsp;</td>
      <td valign="top">%HoTen%</td>
    </tr>
    <tr>
      <td style="font-weight: bold;" valign="top">Gi?i
t&iacute;nh :</td>
      <td valign="top">%GioiTinh%</td>
    </tr>
    <tr>
      <td style="font-weight: bold;" valign="top">Ng&agrave;y
sinh :</td>
      <td valign="top">%NgaySinh%</td>
    </tr>
    <tr>
      <td style="font-weight: bold;" valign="top">Ð?a
ch? :</td>
      <td valign="top">%DiaChi%</td>
    </tr>
    <tr>
      <td style="font-weight: bold;" valign="top">V?
tr&iacute; ?ng tuy?n :</td>
      <td valign="top">%ViTriUngTuyen%</td>
    </tr>
    <tr>
      <td style="font-weight: bold;" valign="top">T&igrave;nh
tr?ng h&ocirc;n nh&acirc;n :</td>
      <td valign="top">%TinhTrangHonNhan%</td>
    </tr>
    <tr>
      <td style="font-weight: bold;" valign="top">Ði?n
tho?i :</td>
      <td valign="top">%DienThoai%</td>
    </tr>
    <tr>
      <td style="font-weight: bold;" valign="top">Email
:</td>
      <td valign="top">%Email%</td>
    </tr>
    <tr>
      <td style="font-weight: bold;" valign="top">Luong
mong d?i :</td>
      <td valign="top">%LuongMongDoi%</td>
    </tr>
    <tr>
      <td style="font-weight: bold;" valign="top">Qu&aacute;
tr&igrave;nh d&agrave;o t?o :</td>
      <td colspan="1" rowspan="3" valign="top">%QuaTrinhDaoTao%</td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td style="font-weight: bold;" valign="top">Qu&aacute;
tr&igrave;nh c&ocirc;ng t&aacute;c :</td>
      <td colspan="1" rowspan="3" valign="top">%QuaTrinhCongTac%</td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td style="font-weight: bold;" valign="top">Tr&igrave;nh
d? chuy&ecirc;n m&ocirc;n :</td>
      <td colspan="1" rowspan="3" valign="top">%TrinhDoChuyenMon%</td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td style="font-weight: bold;" valign="top">Tr&igrave;nh
d? ngo?i ng? :</td>
      <td colspan="1" rowspan="3" valign="top">%TrinhDoNgoaiNgu%</td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td style="font-weight: bold;" valign="top">Th&ocirc;ng
tin kh&aacute;c :</td>
      <td colspan="1" rowspan="3" valign="top">%ThongTinKhac%</td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table>
</body>
</html>
