<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ProtocolVN.App.Office.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ProtocolVN.App.Office.Properties.Settings.ConnectionString"
      connectionString="character set=UNICODE_FSS;initial catalog=protocolvn.net:e:\rdbms\office---dhgfqhnbxa.gdb;data source=PLO;user id=SYSDBA;password=gi@0thuc;server type=0"
      providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="ProtocolVN.App.Office.Properties.Settings.ConnectionString1"
      connectionString="data source=office;initial catalog=&quot;protocolvn.net:D:\RDBMS\FB\pl-office---dhgfqhnbxa.gdb &quot;;user id=SYSDBA;password=masterkey"
      providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="ProtocolVN.App.Office.Properties.Settings.ConnectionString2"
      connectionString="initial catalog=protocolvn.net:D:\RDBMS\FB\pl-office---dhgfqhnbxa.gdb;data source=Office;user id=SYSDBA;password=masterkey"
      providerName="FirebirdSql.Data.FirebirdClient" />
  </connectionStrings>
  <system.windows.forms jitDebugging="true" />
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96D09A1EB7F44A77" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.3.0" newVersion="2.4.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692FBEA5521E1304" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692FBEA5521E1304" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FirebirdSql.Data.FirebirdClient" publicKeyToken="3750ABCC3150B00C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
    	<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.Data.Interop" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Office.Interop.Word" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1B03E6ACF1164F73" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime> 
 <applicationSettings>
  <ProtocolVN.App.Office.Properties.Settings>
   <setting name="office_registrationWS_Service" serializeAs="String">
    <value>http://localhost:1680/RegistrationSvc/Service.asmx</value>
   </setting>
  </ProtocolVN.App.Office.Properties.Settings>
 </applicationSettings>
</configuration>
